@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,500;1,700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

th td {
  font-family: 'Inter', sans-serif !important;
}

a:hover {
  /* @apply border-b-2 border-blue-700; */
}

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.text-input-center .ant-input {
  text-align: center;
}

.hidden-scrollbar {
  scrollbar-width: none;
  /* Ẩn thanh cuộn trên các trình duyệt hiện đại */
  -ms-overflow-style: none;
  /* Ẩn thanh cuộn trên Internet Explorer/Edge */
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
  /* Ẩn thanh cuộn trên trình duyệt Chrome/Safari */
}

::-webkit-scrollbar {
  width: 5px;
  /* Chiều rộng thanh cuộn */
  height: 10px;
  /* Chiều cao thanh cuộn */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* Màu nền của thanh cuộn */
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Màu của thanh kéo */
  border-radius: 5px;
  /* Đường viền cong của thanh kéo */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Màu của thanh kéo khi di chuột qua */
}
.status_modal {
  position: fixed;
  top: 0;
  left: 0;
  background: #0008;
  z-index: 4;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.status_modal form {
  max-width: 450px;
  width: 100%;
  background: white;
  margin: 30px auto;
  padding: 20px;
  border-radius: 5px;
}
.status_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  transform: translateY(-13px);
}
.status_header span {
  font-size: 2rem;
  font-weight: 900;
  cursor: pointer;
  transform: translateY(-5px);
}
.status_body textarea {
  width: 100%;
  min-height: 150px;
  border: none;
  outline: none;
  resize: none;
}
.status_body .input_images {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.status_body .input_images i {
  font-size: 2rem;
  cursor: pointer;
}
.status_body .input_images .file_upload {
  overflow: hidden;
  margin: 0 10px;
  position: relative;
}
.status_body .input_images .file_upload #file {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.status_body .show_images {
  max-height: 270px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  place-items: center;
  padding: 10px 0;
  grid-gap: 10px;
}
.status_body .show_images #file_img {
  position: relative;
  width: 100%;
  height: 100%;
}
.status_body .show_images #file_img img,
.status_body .show_images #file_img video {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
  max-height: 100px;
}
.status_body .show_images #file_img span {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 4;
  background: white;
  color: crimson;
  padding: 3px 7px;
  border: 1px solid crimson;
  border-radius: 50%;
  font-size: 10px;
  font-weight: bolder;
  cursor: pointer;
}
.status_body .stream span {
  position: absolute;
  top: -10px;
  right: 5px;
  color: crimson;
  font-size: 2rem;
  font-weight: 900;
  cursor: pointer;
}
.status_body .dropdown-menu {
  transform: translate3d(-153px, -190px, 0px) !important;
}
.post_thumb {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  grid-gap: 10px;
  overflow: hidden;
  margin: 15px 0;
}
.post_thumb_display {
  min-width: 300px;
  height: 300px;
  width: 100%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.post_thumb_display img,
.post_thumb_display video {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.post_thumb_display .post_thumb_menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0008;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s;
}
.post_thumb_display:hover .post_thumb_menu {
  opacity: 1;
}
.post_thumb_display .post_thumb_menu i {
  font-size: 1.8rem;
  color: white;
  margin: 0 25px;
}
.supper-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.big-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.medium-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.small-avatar {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
