@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,500;1,700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

th td {
  font-family: 'Inter', sans-serif !important;
}

a:hover {
  /* @apply border-b-2 border-blue-700; */
}

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.text-input-center .ant-input {
  text-align: center;
}

.hidden-scrollbar {
  scrollbar-width: none;
  /* Ẩn thanh cuộn trên các trình duyệt hiện đại */
  -ms-overflow-style: none;
  /* Ẩn thanh cuộn trên Internet Explorer/Edge */
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
  /* Ẩn thanh cuộn trên trình duyệt Chrome/Safari */
}

::-webkit-scrollbar {
  width: 5px;
  /* Chiều rộng thanh cuộn */
  height: 10px;
  /* Chiều cao thanh cuộn */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* Màu nền của thanh cuộn */
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Màu của thanh kéo */
  border-radius: 5px;
  /* Đường viền cong của thanh kéo */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Màu của thanh kéo khi di chuột qua */
}
.status_modal {
  position: fixed;
  top: 0;
  left: 0;
  background: #0008;
  z-index: 4;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.status_modal form {
  max-width: 450px;
  width: 100%;
  background: white;
  margin: 30px auto;
  padding: 20px;
  border-radius: 5px;
}
.status_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  transform: translateY(-13px);
}
.status_header span {
  font-size: 2rem;
  font-weight: 900;
  cursor: pointer;
  transform: translateY(-5px);
}
.status_body textarea {
  width: 100%;
  min-height: 150px;
  border: none;
  outline: none;
  resize: none;
}
.status_body .input_images {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.status_body .input_images i {
  font-size: 2rem;
  cursor: pointer;
}
.status_body .input_images .file_upload {
  overflow: hidden;
  margin: 0 10px;
  position: relative;
}
.status_body .input_images .file_upload #file {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.status_body .show_images {
  max-height: 270px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  place-items: center;
  padding: 10px 0;
  grid-gap: 10px;
}
.status_body .show_images #file_img {
  position: relative;
  width: 100%;
  height: 100%;
}
.status_body .show_images #file_img img,
.status_body .show_images #file_img video {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
  max-height: 100px;
}
.status_body .show_images #file_img span {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 4;
  background: white;
  color: crimson;
  padding: 3px 7px;
  border: 1px solid crimson;
  border-radius: 50%;
  font-size: 10px;
  font-weight: bolder;
  cursor: pointer;
}
.status_body .stream span {
  position: absolute;
  top: -10px;
  right: 5px;
  color: crimson;
  font-size: 2rem;
  font-weight: 900;
  cursor: pointer;
}
.status_body .dropdown-menu {
  transform: translate3d(-153px, -190px, 0px) !important;
}
.post_thumb {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  grid-gap: 10px;
  overflow: hidden;
  margin: 15px 0;
}
.post_thumb_display {
  min-width: 300px;
  height: 300px;
  width: 100%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.post_thumb_display img,
.post_thumb_display video {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.post_thumb_display .post_thumb_menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0008;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s;
}
.post_thumb_display:hover .post_thumb_menu {
  opacity: 1;
}
.post_thumb_display .post_thumb_menu i {
  font-size: 1.8rem;
  color: white;
  margin: 0 25px;
}
.supper-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.big-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.medium-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.small-avatar {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.message {
  width: 100%;
  height: calc(90vh);
  /* border: 1px solid #ddd; */
  margin-top: 15px;
  border-radius: 3px;
  background: #fbfbfb;
  overflow: hidden;
}

.message_header {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8f8f8;
}
.message_header input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  background: #f8f8f8;
  padding: 0 15px;
}
.message_chat_list {
  width: 100%;
  height: calc(100% - 60px);
  overflow-y: auto;
  background: #fff;
}
.message_chat_list .message_user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid #f3f3f3;
  color: #555;
  cursor: pointer;
}
.message_chat_list .message_user.active {
  background: #eee;
}

.message_chat_list .message_user a {
  color: #555;
}
.message_chat_list .message_user a:hover {
  text-decoration: none;
}

.message_chat_list .message_user .fa-circle {
  font-size: 8px;
  color: #aaa;
}
.message_chat_list .message_user .fa-circle.active {
  color: forestgreen;
}
/* -------- Chat Input----- */
.chat_input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-top: 1px solid #ddd;
  background: #fff;
}
.chat_input input {
  width: 100%;
  height: 49px;
  border: none;
  outline: none;
}
.chat_input button {
  border: none;
  outline: none;
  background: white;
}

.chat_input .file_upload {
  position: relative;
  overflow: hidden;
  margin: 0 10px;
}
.chat_input .file_upload #file {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.show_media {
  width: 100%;
  height: 70px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  place-items: center;
  grid-gap: 10px;
  background: #f3f3f3;
  border-radius: 5px;
  padding: 0 5px;
}
.show_media #file_media {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 70px;
  max-height: 70px;
}
.show_media #file_media img,
.show_media #file_media video {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
.show_media #file_media span {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  background: white;
  border: 1px solid crimson;
  padding: 3px 7px;
  color: crimson;
  border-radius: 50%;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
}

/* icons */
.reactions {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  text-align: center;
  cursor: pointer;
}
.reactions span {
  margin: 3px 0;
}
/* -------- Chat Input----- */
.chat_input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-top: 1px solid #ddd;
}
.chat_input input {
  width: 100%;
  height: 49px;
  border: none;
  outline: none;
}
.chat_input button {
  border: none;
  outline: none;
  background: white;
}

.chat_input .file_upload {
  position: relative;
  overflow: hidden;
  margin: 0 10px;
}
.chat_input .file_upload #file {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.show_media {
  width: 100%;
  height: 70px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  place-items: center;
  grid-gap: 10px;
  background: #f3f3f3;
  border-radius: 5px;
  padding: 0 5px;
}
.show_media #file_media {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 70px;
  max-height: 70px;
}
.show_media #file_media img,
.show_media #file_media video {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
.show_media #file_media span {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  background: white;
  border: 1px solid crimson;
  padding: 3px 7px;
  color: crimson;
  border-radius: 50%;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
}

/* -------- Chat Container ----- */
.chat_container {
  width: 100%;
  height: 74vh;
  overflow-y: auto;
  padding: 0 10px;
  background: #fff;
  margin-top: 10px;
}
.chat_display {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.chat_row {
  display: grid;
  grid-template-columns: 70%;
  margin-bottom: 10px;
}
.you_message {
  justify-content: end;
  justify-items: end;
}
.other_message {
  justify-content: start;
  justify-items: start;
}
.chat_text {
  padding: 9px 14px;
  margin-bottom: 5px;
}
.chat_time {
  font-size: 13px;
  color: #777;
}
.you_message .chat_text {
  background: #00bdd6;
  color: white;
  border: 1px solid #00bdd6;
  border-radius: 14px 14px 0 14px;
}
.other_message .chat_text {
  background: white;
  color: #111;
  border: 1px solid #ddd;
  border-radius: 14px 14px 14px 0;
}
.chat_title {
  margin-bottom: 3px;
}
.you_content {
  position: relative;
}
.you_content .fa-trash {
  position: absolute;
  top: 45%;
  left: -24px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 14px;
  opacity: 0;
}
.you_content:hover .fa-trash {
  opacity: 1;
}
.chat_input .dropdown-menu {
  transform: translate3d(-110px, -200px, 0px) !important;
}
/* -------- Call Modal ----- */
.call_modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  background: #0008;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.call_box {
  width: 100%;
  max-width: 400px;
  background: #26daf2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding: 50px 0;
  border-radius: 5px;
  box-shadow: 0 0 5px #00bdd6;
}
.call_box h4,
.call_box h6 {
  margin-top: 5px;
}
.call_menu {
  min-width: 280px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.call_menu .button {
  font-size: 2rem;
  background: #eee;
  padding: 3px 15px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
}
.call_modal .timer {
  /* transform: translateY(-15px); */
}
.call_modal .show_video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}
.call_modal .other_video {
  width: 100%;
  height: 100%;
}
.call_modal .you_video {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  max-height: 250px;
  border-radius: 5px;
  border: 1px solid crimson;
  z-index: 10;
}
.call_modal .end_call {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: initial;
  font-size: 2rem;
  background: #eee;
  padding: 3px 15px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
}
.call_modal .time_video {
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
/* gpt */
.app {
  background: #343541;
  color: white;
  height: 100vh;
}
.side-bar {
  background: #202123;
  height: 100%;
  width: 244px;
}
.main {
  width: 100%;
  /* height: 100%; */
}
button.button {
  border: solid 0.5px rgba(255, 255, 255, 0.5);
}
input.input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 12px 15px;
  border-radius: 5px;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
.container.container-sm {
  max-width: 782px;
}
.p-1 {
  padding: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.border-5 {
  border-radius: 5px;
}
.title {
  font-size: 3.75rem;
  font-weight: 500;
  margin: 3rem 0;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group select {
  border: 1px solid rgba(238, 238, 238, 0.9333333333);
  border-radius: 5px;
  padding: 0.5rem;

  .text-center {
    text-align: center;
  }
  .shadow-sm {
    box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.15);
  }
  .bg-darkGreen {
    background-color: rgb(36, 59, 36);
  }

  .text-darkGreen {
    color: rgb(36, 59, 36);
  }
  .text-light {
    color: #f8f9fa;
  }
}
